/* styles.css */


/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
    color: black;
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño del texto del logo */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto de los enlaces */
    font-size: 1.1rem; /* Tamaño del texto de los enlaces */
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Cambio de color al pasar el ratón */
}

/* Estilos para secciones */
section {
    background-color: #ffffff; /* Fondo de las secciones */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
}

/* Estilos para títulos de sección */
section h2 {
    margin-bottom: 30px;
    color: #343a40;
}

/* Estilos para gráficos */
.chart-container {
    position: relative;
    height: 300px; /* Ajuste según el tamaño deseado */
    margin-bottom: 30px;
}

/* Estilos para tablas */
.table-container {
    max-height: 400px; /* Ajuste según el tamaño deseado */
    overflow-y: auto;
}

/* Estilos para botones */
.btn-primary {
    background-color: #007bff; /* Color de fondo del botón primario */
    border-color: #007bff; /* Color del borde del botón primario */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
    border-color: #0056b3; /* Cambio de color del borde al pasar el ratón */
}
.jumbotron-custom {
    background-image: url('tshirts-background.jpg');
    background-size: cover;
    color: #f70000;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    padding: 4rem 2rem;
    margin-bottom: 2rem;
}
.jumbotron-custom h1, .jumbotron-custom p {
    text-align: center;
}
.jumbotron-custom .lead {
    font-size: 1.5rem;
    text-align: center;
}